<div class="flex align-items-center
justify-content-center
min-h-screen min-w-screen
overflow-hidden
font-bold">

  <p-card
    header="LumenIF"
    subheader="Bem-vindo(a), realize seu cadastro!"
    styleClass="w-full max-w-25rem shadow-2">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="field mt-3">
        <p-float-label>
          <input pInputText id="name" formControlName="name" class="w-full" />
          <label for="name">Nome</label>
        </p-float-label>
      </div>

      <div class="field mt-5">
        <p-float-label>
          <input pInputText id="email" formControlName="email" class="w-full" />
          <label for="email">Email</label>
        </p-float-label>
      </div>

      <div class="field mt-5">
        <p-float-label>
          <p-password inputStyleClass="w-full"
                      inputId="password"
                      type="password"
                      formControlName="password"
                      class="w-full"
                      [style]="{'width':'100%'}"
                      [inputStyle]="{'width':'100%'}"
                      [toggleMask]="true"
          />
          <label for="password">Senha</label>
        </p-float-label>
      </div>

      <div class="field mt-5">
        <p-float-label>
          <input pInputText id="password_confirmation" type="password" formControlName="password_confirmation" class="w-full" />
          <label for="password_confirmation">Confirme sua senha</label>
        </p-float-label>
      </div>

      <p-button
        label="Cadastrar"
        type="submit"
        [disabled]="registerForm.invalid"
        styleClass="w-full mt-5"
        icon="pi pi-sign-in"
        iconPos="right"
        severity="primary"
        raised="true"/>
    </form>

    @if (errorMessage) {
      <p-message
        [text]="errorMessage"
        severity="error"
        styleClass="mt-4 flex"
      />
    }

    <div class="text-center mt-4">
      <a routerLink="/login" class="text-primary-600 hover:underline">
        Já possui uma conta?
      </a>
    </div>
  </p-card>
</div>
